table{
    border: 60px, solid black;
    border-spacing:0px;
    text-align: center;
}
body{
    font-family: initial;
justify-content: center;
background:radial-gradient(	#6495ED,#1E90FF,#00BFFF,#00CED1);
}
main{
    --mainszelesseg:50%;
    --oldalszelesseg: 100%;
    margin-left: calc((var(--oldalszelesseg) - var(--mainszelesseg))/2);
    margin-right: calc((var(--oldalszelesseg) - var(--mainszelesseg))/2);;
    justify-content: center;
    
}
header{
    text-underline-position: above;
}

nav{
    border: 60px;
    border-spacing:0px;
    text-align:left;
}