table{
    
    border-spacing:0px;
    text-align: center;
    border-radius: 3px;
}
table tr th
{
    border: 1px solid black;
    border-radius: 20px;
}
table tr td
{
    border: 1px solid black;
    border-radius: 20px;
}
body{
    font-family: initial;
justify-content: center;
background:radial-gradient(	#6495ED,#1E90FF,#00BFFF,#00CED1);
}
main{
    --mainszelesseg:50%;
    --oldalszelesseg: 100%;
    margin-left: calc((var(--oldalszelesseg) - var(--mainszelesseg))/2);
    margin-right: calc((var(--oldalszelesseg) - var(--mainszelesseg))/2);;
    justify-content: center;
    
}
header{
    text-underline-position: above;
}

nav{
    border: 60px;
    border-spacing:0px;
    text-align:left;
}

.piros
{
    background-color: rgb(214, 43, 43);
}

.sarga{
background-color: rgb(247, 247, 100);
}
.kek{
background-color: rgb(53, 120, 197);
}
.lila{
background-color:rgb(139, 69, 139)
}
.feher{
background-color: antiquewhite;
}
.linkek{
    border-spacing:0px;
    text-align: center;
    
}